@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;

}


body img{
    height: 100%;
    width: 100%;
 
}

::-webkit-scrollbar{
    height: 0px;
    width: 0px;
    
}
a{
    display: block;
    background-color: darkred;
    color: white;
    padding: 20px;
    font-weight: bold;
    text-decoration: none;
    margin: -5px;
    text-align: center;
}

a:hover{
    background-color: red;
}